.footer {
  width: 100%;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  text-align: center;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;

  &--link {
    color: rgb(206, 134, 224);
    font-weight: 500;

    &:hover {
      color: rgb(146, 4, 182);
      font-size: large;
    }
  }

  &--detail {
    margin-left: 10px;
    font-weight: 100;
  }
}
