.all-flags {
  width: 65px;
  border-radius: 3px;
  padding: 0 5px;
  margin: 10px;

  @media all and (min-width: 550px) {
    width: 90px;
    border-radius: 3px;
    padding: 0 10px;
    margin: 20px;
  }
}

.no-user-flags {
  background-color: rgb(175, 173, 173);
}

.user-flag {
  background-color: rgb(240, 84, 84);
}
