.all-flags {
  width: 90px;
  border-radius: 3px;
  padding: 0 10px;
  margin: 20px;
}

.no-user-flags {
  background-color: rgb(175, 173, 173);
}

.user-flag {
  background-color: rgb(240, 84, 84);
}
