.all-flags {
  background-color: grey;
  width: 90px;
  border-radius: 8px;
  padding: 0 10px;
}

.user-flag {
  background-color: lightcoral;
  width: 90px;
  border-radius: 8px;
  padding: 0 10px;
}
